
*{
margin: 0;
padding: 0;
}
body {
    background-image: url("3.jpg");
    background-attachment: fixed;
   margin-left: 5em;
   margin-right: 5em;
   margin-top: 0.1em;
}
table {
    width: 100%;
   }
td {
    color: black;
    font-size: 21px;
}
